<div class="row" style="margin-left: 50px;">
  <div class="col-lg-8">
   <form method="POST" action="/courses/store">
      <h1>Đăng ký khóa học</h1>
      <div class="mb-3">
        <label for="name" class="form-label">Tên khóa học</label>
        <input type="text" id="name" placeholder="name" name="name">
       </div>
      <div class="mb-3">
        <label for="description" class="form-label">Mô tả khóa học</label>
        <input type="text" id="description" placeholder="description" name="description">
      </div>
      <div class="mb-3">
        <label for="videoId" class="form-label">Video ID</label>
        <input type="text" id="videoId" placeholder="videoId" name="videoId">
      </div>      
        
      <button type="submit">Thêm khóa học</button>
   </form>
  </div>
</div>