<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="container">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Hà Phòng</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
            <li><a class="dropdown-item" href="/news/tintuc">Bài viết của tôi</a></li>
            <li><a class="dropdown-item" href="/me/trash/courses">Thùng rác</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/">Đăng xuất</a></li>
          </ul>
      </li>

    </div>
  </div>
</nav>